node_modules

# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.env
.env

# Django
*.log
local_settings.py
db.sqlite3
media/
staticfiles/

# Environment variables
.env

# Virtual environment
venv/
env/
ENV/
venv.bak/
venv3/

# IDEs and editors
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# OS-specific
.DS_Store
Thumbs.db

# Coverage reports
htmlcov/
.tox/
.nox/
.coverage
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Test
*.mo
*.pot
*.po

# MySQL
*.sql

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Linux
*~

# Others
*.swp
*.bak
*.tmp
*.pid
*.seed
*.backup
*.orig
*.rej
*.swo
*~
